@media only screen and (min-width: 769px) {
  .task-btns {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
  }
  .task-icon {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 769px) {
  .task-btns {
    margin-top: -.25rem;
  }
}

.card {
  background-color: #fefefe;
  box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.15),
  -3px -3px 4px 1px rgba(10, 10, 10, 0.05);
}

.card:hover {
  box-shadow: 4px 4px 5px rgba(10, 10, 10, 0.15),
  -3px -3px 4px 1px rgba(10, 10, 10, 0.05);
}

.add-todo-container {
  margin-top: 1.75rem;
}

.column.task-text, .column.task-btns, .column.check-icon-container {
  padding: .25rem;
}

.task-text {
  flex: auto!important;
}

.column.notification.task-text, .check-icon-container, .check-icon {
  margin-top: auto;
  margin-bottom: auto;
}

.check-icon-container {
  width: auto!important;
}

.columns.task-body {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.task-title.card-header-title {
  font-weight: 600;
  padding: 0.25rem;
}

